aioredis==1.3.1
alabaster==0.7.12
asgiref==1.1.2
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
Babel==2.8.0
bidict==0.21.2
camelot-py==0.8.0
certifi==2020.4.5.1
cffi==1.14.0
channels==1.1.8
channels-redis==2.4.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
coverage==5.1
cryptography==2.9.2
cycler==0.10.0
daphne==1.4.2
distro==1.5.0
Django==2.2.13
django-cleanup==4.0.0
django-cors-headers==3.7.0
django-npm-mjs==2.0.9
django-sendgrid-v5==0.9.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.8
future==0.18.2
gitdb==4.0.4
GitPython==0.3.6
gunicorn==20.0.4
hiredis==1.0.1
hyperlink==19.0.0
idna==2.9
imagesize==1.2.0
img2pdf==0.3.6
importlib-metadata==3.4.0
incremental==17.5.0
ipython-genutils==0.2.0
jdcal==1.4.1
Jinja2==2.11.2
JSON-minify==0.3.0
jsonschema==3.2.0
jupyter-core==4.7.0
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
msgpack==0.6.2
nbformat==5.1.2
nose==1.3.7
numpy==1.18.3
ocrmypdf==9.8.0
olefile==0.46
opencv-python==4.2.0.34
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
pdfminer.six==20200402
pigar==0.10.0
pikepdf==1.11.2
Pillow==7.1.2
pipreqs==0.4.10
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.7
pyflakes==2.1.1
Pygments==2.6.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyotp==2.6.0
pyparsing==2.4.7
PyPDF2==1.26.0
pypi-publisher==0.0.4
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
python-engineio==4.0.0
python-http-client==3.3.1
python-socketio==5.0.4
pytz==2020.1
pywin32==300
reportlab==3.5.42
requests==2.23.0
robin-stocks==2.0.3
sendgrid==6.5.0
service-identity==18.1.0
simplejson==3.17.3
six==1.14.0
smmap==3.0.2
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==3.0.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
sqlparse==0.3.1
starkbank-ecdsa==1.1.0
sweetify==2.0.0
tabula-py==2.1.0
tika==1.24
tqdm==4.46.0
traitlets==5.0.5
Twisted==20.3.0
txaio==20.4.1
typing-extensions==3.7.4.3
urllib3==1.25.9
virtualenv==16.7.5
virtualenvwrapper-win==1.2.5
websocket-client==0.57.0
whitenoise==5.2.0
yarg==0.1.9
zipp==3.4.0
zope.interface==5.1.0
