{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>CTFNation | Home</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="The only platform for hackers and cybersecurity enthusiasts alike to instantly compete for worldwide glory in a variety of game types." name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'assets/css/one-page-parallax/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body data-spy="scroll" data-target="#header" data-offset="51">
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-brand -->
				<a href="#" class="navbar-brand">
					<img src="{% static 'assets/img/svg/CTFNationLogo.svg' %}" alt="CTFNation Logo">
					<span class="brand-text">CTFNation</span>
				</a>
				<!-- end navbar-brand -->
				<!-- begin navbar-toggle -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- end navbar-header -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a class="nav-link" href="#about" data-click="scroll-to-target">ABOUT</a></li>
						<li class="nav-item"><a class="nav-link" href="#pricing" data-click="scroll-to-target">PRICING</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'register' %}">SIGN UP</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">LOGIN</a></li>
					</ul>
				</div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->

		<!-- begin #home -->
		<div id="home" class="content has-bg home">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url({% static '/assets/img/svg/CTFNationLogo.svg' %});"
				data-paroller="true"
				data-paroller-factor="0.5"
				data-paroller-factor-xs="0.25">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container home-content">
				<h1>Welcome to CTFNation</h1>
				<h3>Glory Awaits You</h3>
				<p style="font-size: 1.1em;">
					The only platform for hackers and cybersecurity enthusiasts alike to <br />
					instantly compete for sweet victory worldwide in a variety of game types.
				</p>
				<a href="{% url 'register' %}" class="btn btn-theme btn-primary">Sign Up</a> <a href="{% url 'login' %}" class="btn btn-theme btn-outline-white">Login</a><br />
				<br />
			</div>
			<!-- end container -->
		</div>
		<!-- end #home -->

		<!-- begin #about -->
		<div id="about" class="content" data-scrollview="true" style="overflow: hidden;">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">About</h2>
				<p class="content-desc">
					CTFNation is a platform designed for hackers to compete against others around the world within minutes, unlike regular capture the flag events. Simply choose one of the many different game types to compete in, get paired with a team generated by our custom algorithms, our servers will then create a custom map from a massive database of vulnerabilities found in the wild, and once your map loads it’s no holds barred as you hack your way to victory. Each win will progress your rank and your spot on the leaderboard as hackers fight to join the elite at the top.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-server"></i></div>
							<div class="info">
								<h4 class="title">VPN</h4>
								<p class="desc">Connect through a virtual private network created just for you to access all our features that are constantly growing.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-flag"></i></div>
							<div class="info">
								<h4 class="title">Matchmaking</h4>
								<p class="desc">Select your game type, like Capture the Flag, and enter the queue to instantly get paired with a team and a custom map.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-users"></i></div>
							<div class="info">
								<h4 class="title">Pwn</h4>
								<p class="desc">Work with your team to protect your flag while you flank the enemy and send them to oblivion before time runs out.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #about -->

		<!-- begin #milestone -->
		<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url({% static 'assets/img/bg/bg-milestone.jpg' %})"
				data-paroller="true"
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01"></div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container">
				<!-- begin row -->
				<div class="row">
					<!-- begin col-3 -->
					<div class="col-md-4 milestone-col">
						<div class="milestone">
							<div class="number" style="font-size: 3.625rem;">&#8734;</div>
							<div class="title">Maps</div>
						</div>
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-md-4 milestone-col">
						<div class="milestone">
							<div class="number" data-animation="true" data-animation-type="number" data-final-number="2">2</div>
							<div class="title">Teams</div>
						</div>
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-md-4 milestone-col">
						<div class="milestone">
							<div class="number" data-animation="true" data-animation-type="number" data-final-number="1">1</div>
							<div class="title">Winner</div>
						</div>
					</div>
					<!-- end col-3 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #milestone -->

		<!-- begin #pricing -->
		<div id="pricing" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Pricing</h2>
				<p class="content-desc">
					We’re a small operation but your support allows us to expand are servers and offer more features with even faster processing. We truly appreciate all your help and we hope you love CTFNation as much as we do. Thank you.
					<br/>
					<br/>
					We’re also still Beta testing, so we hope that you will join us as an early user and enjoy a free monthly subscription until April 2020.
					<br/>
					<br/>
					<br/>
				</p>
				<!-- begin pricing-table -->
				<ul class="pricing-table pricing-col-4">
					<li class="highlight" data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3 style="background: #1c2025;">Beta</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">Free</span>
									<span class="price-tenure">Ends April 2020</span>
								</div>
							</div>
							<ul class="features">
								<li>VPN</li>
								<li>All Maps</li>
								<li>All Features</li>
								<li>Beta User Badge</li>
								<li>Bonus Experience Points</li>
							</ul>
							<div class="footer" style="background: #1c2025;">
								<a href="{% url 'register' %}" class="btn btn-primary btn-theme btn-block">Sign Up Now</a>
							</div>
						</div>
					</li>
					<li data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Standard</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">$7.99</span>
									<span class="price-tenure">per month</span>
								</div>
							</div>
							<ul class="features">
								<li>VPN</li>
								<li>All Maps</li>
								<li>All Features</li>
							</ul>
							<div class="footer">
								<div class="btn btn-inverse btn-theme btn-block">Unavailable Until April</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- end container -->
		</div>
		<!-- end #pricing -->

		<!-- begin #footer -->
		<div id="footer" class="footer">
			<div class="container">
				<div class="footer-brand">
					<img src="{% static 'assets/img/svg/CTFNationLogo.svg' %}" alt="CTFNation Logo" style="width: 75px;">
					CTFNation
				</div>
				<p>
					Copyright &copy; 2019 CTFNation.com<br />
				</p>
				<p class="social-list">
					<a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
					<a href="#"><i class="fab fa-instagram fa-fw"></i></a>
					<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
					<a href="#"><i class="fab fa-google-plus-g fa-fw"></i></a>
					<a href="#"><i class="fab fa-dribbble fa-fw"></i></a>
				</p>
			</div>
		</div>
		<!-- end #footer -->

	</div>
	<!-- end #page-container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'assets/js/one-page-parallax/app.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</body>
</html>
