{% extends "dashboard/base.html" %}
{% block content %}

      <!-- begin page-header -->
      <h1 class="page-header">Dashboard <small>Welcome to CTFNation.</small></h1>
      <!-- end page-header -->

      <!-- begin panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Dashboard</h4>
				</div>
				<div class="panel-body">
					<div>
            <p>Welcome to CTFNation!</p>
            <p>Unfortunately, this project is no longer continuing development and only remains as a demonstration. CTFNation also has extensive server side scripting that will not be demonstrated due the legality of hosting vulnerable virtual machines with third party web hosting. However, I do hope you click around, have a little fun, and thank you so much for coming.</p>
            <p>If you would like to talk more about this project, please reach out to me at <a href="mailto:adamjosephprinz@gmail.com.">adamjosephprinz@gmail.com.</a></p>
            <p>If you would like to contribute to the development of CTFNation, you can find the repository on GitHub at <a href="https://github.com/ajprinz/CTFNation" target="_blank">https://github.com/ajprinz/CTFNation</a>.</p>
					</div>
				</div>
			</div>
			<!-- end panel -->


{% endblock content %}
